In [1]:
import pandas as pd
import numpy as np

In [44]:
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('../20_intermediate_files/50_no_apple_watch_combined_rounds.csv')

In [3]:
df

,Time,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Subject_ID,Activity,Round,Magnitude
0,2019-07-17 11:52:00.000,41.000000,27.200000,40.000000,32.39,0.275354,15.25,78.980,19-001,Baseline,1,63.410094
1,2019-07-17 11:52:00.250,41.000000,27.300000,40.000000,32.39,0.276634,-12.75,78.835,19-001,Baseline,1,63.453054
2,2019-07-17 11:52:00.500,41.000000,27.400000,40.000000,32.39,0.270231,-42.99,78.690,19-001,Baseline,1,63.496142
3,2019-07-17 11:52:00.750,41.000000,27.500000,40.000000,32.39,0.270231,18.39,78.545,19-001,Baseline,1,63.539358
4,2019-07-17 11:52:01.000,41.000000,27.600000,40.000000,32.34,0.268950,13.61,78.400,19-001,Baseline,1,63.582702
...,...,...,...,...,...,...,...,...,...,...,...,...
293479,2019-08-16 16:12:09.000,24.235294,-12.235294,62.764706,32.09,0.694414,-1.00,92.880,19-056,Type,1,68.384649
293480,2019-08-16 16:12:09.250,27.294118,-13.294118,60.705882,32.09,0.672642,5.22,92.940,19-056,Type,1,67.874197
293481,2019-08-16 16:12:09.500,30.352941,-14.352941,58.647059,32.09,0.664957,-1.47,93.000,19-056,Type,1,67.577995
293482,2019-08-16 16:12:09.750,33.411765,-15.411765,56.588235,32.09,0.648308,1.37,93.060,19-056,Type,1,67.498866
293483,2019-08-16 16:12:10.000,36.470588,-16.470588,54.529412,32.07,0.638062,0.12,93.120,19-056,Type,1,67.637570

In [4]:
df1 = df[(df['Subject_ID'] == '19-001') & (df['Activity'] == 'Baseline') & (df['Round'] == 1)]
df1

,Time,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Subject_ID,Activity,Round,Magnitude
0,2019-07-17 11:52:00.000,41.000000,27.200000,40.000000,32.39,0.275354,15.25,78.9800,19-001,Baseline,1,63.410094
1,2019-07-17 11:52:00.250,41.000000,27.300000,40.000000,32.39,0.276634,-12.75,78.8350,19-001,Baseline,1,63.453054
2,2019-07-17 11:52:00.500,41.000000,27.400000,40.000000,32.39,0.270231,-42.99,78.6900,19-001,Baseline,1,63.496142
3,2019-07-17 11:52:00.750,41.000000,27.500000,40.000000,32.39,0.270231,18.39,78.5450,19-001,Baseline,1,63.539358
4,2019-07-17 11:52:01.000,41.000000,27.600000,40.000000,32.34,0.268950,13.61,78.4000,19-001,Baseline,1,63.582702
...,...,...,...,...,...,...,...,...,...,...,...,...
956,2019-07-17 11:55:59.000,60.943966,16.943966,-4.280172,33.15,0.240774,10.68,55.2500,19-001,Baseline,1,63.400195
957,2019-07-17 11:55:59.250,60.939655,16.939655,-4.301724,33.15,0.242055,7.55,55.2325,19-001,Baseline,1,63.396359
958,2019-07-17 11:55:59.500,60.935345,16.935345,-4.323276,33.15,0.245897,-4.25,55.2150,19-001,Baseline,1,63.392530
959,2019-07-17 11:55:59.750,60.931034,16.931034,-4.344828,33.15,0.242055,-14.66,55.1975,19-001,Baseline,1,63.388709
960,2019-07-17 11:56:00.000,60.926724,16.926724,-4.366379,33.15,0.240774,16.51,55.1800,19-001,Baseline,1,63.384895

In [5]:
df2 = df1.rolling(40).median().dropna()
df2['Activity'] = 'Baseline'
df2['Round'] = 1
df2['Subject_ID'] = '19-001'
df2

,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Round,Magnitude,Activity,Subject_ID
39,40.281250,28.359375,39.281250,32.355,0.267029,5.520,75.86125,1,63.006754,Baseline,19-001
40,40.218750,28.390625,39.218750,32.340,0.266389,2.100,75.72250,1,62.941933,Baseline,19-001
41,40.156250,28.421875,39.156250,32.340,0.266389,2.100,75.60750,1,62.877186,Baseline,19-001
42,40.093750,28.453125,39.093750,32.340,0.265108,5.520,75.49250,1,62.812511,Baseline,19-001
43,40.031250,28.484375,39.031250,32.340,0.263827,4.660,75.37750,1,62.747910,Baseline,19-001
...,...,...,...,...,...,...,...,...,...,...,...
956,60.921983,16.971983,-4.207759,33.150,0.240774,4.315,55.68750,1,63.413367,Baseline,19-001
957,60.941810,16.971983,-4.226293,33.150,0.240774,6.595,55.66250,1,63.409821,Baseline,19-001
958,60.941810,16.971983,-4.247845,33.150,0.240774,4.315,55.63750,1,63.405966,Baseline,19-001
959,60.941810,16.971983,-4.269397,33.150,0.240774,0.945,55.61250,1,63.402117,Baseline,19-001
960,60.941810,16.971983,-4.290086,33.150,0.240774,4.315,55.59000,1,63.398277,Baseline,19-001

In [6]:
rolled = pd.DataFrame(columns = ['ACC1', 'ACC2', 'ACC3', 'TEMP', 'EDA', 'BVP', 'HR', 'Round', 'Magnitude', 'Activity', 'Subject_ID'])

for i in pd.unique(df['Subject_ID']):
    for j in pd.unique(df['Activity']):
        for k in pd.unique(df['Round']):
            df_new = df[(df['Subject_ID'] == i) & (df['Activity'] == j) & (df['Round'] == k)]
            df_roll = df_new.rolling(40).mean().dropna()
            df_roll['Activity'] = j
            df_roll['Round'] = k
            df_roll['Subject_ID'] = i
            #print(df_roll.head())
            rolled = rolled.append(df_roll)

In [7]:
#rolled = rolled.drop(columns = ['Time'])
rolled

,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Round,Magnitude,Activity,Subject_ID,Time
39,40.225000,28.297500,39.225000,32.35600,0.265940,-0.21875,76.105250,1,62.913102,Baseline,19-001,NaN
40,40.175000,28.342500,39.175000,32.35475,0.265556,-1.07075,75.968750,1,62.870169,Baseline,19-001,NaN
41,40.126630,28.383370,39.125543,32.35350,0.265140,-0.75950,75.833750,1,62.826763,Baseline,19-001,NaN
42,40.079891,28.420109,39.076630,32.35225,0.264852,0.59100,75.700250,1,62.782884,Baseline,19-001,NaN
43,40.034783,28.452717,39.028261,32.35100,0.264563,0.28350,75.568250,1,62.738533,Baseline,19-001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
293479,13.976244,-8.749321,64.185294,32.10950,0.603675,-0.22400,92.209375,1,66.328237,Type,19-056,NaN
293480,14.291290,-8.854751,64.277941,32.10900,0.606237,0.02700,92.236937,1,66.536121,Type,19-056,NaN
293481,14.684729,-8.987421,64.309118,32.10850,0.608734,-0.01875,92.266312,1,66.727613,Type,19-056,NaN
293482,15.156561,-9.147330,64.278824,32.10800,0.610815,0.13650,92.297500,1,66.908125,Type,19-056,NaN
293483,15.706787,-9.334480,64.187059,32.10650,0.612576,0.08500,92.330500,1,67.083087,Type,19-056,NaN

In [8]:
#rolled = rolled.reset_index()
#rolled = rolled.drop(columns = ['level_0', 'index'])
rolled

,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Round,Magnitude,Activity,Subject_ID,Time
39,40.225000,28.297500,39.225000,32.35600,0.265940,-0.21875,76.105250,1,62.913102,Baseline,19-001,NaN
40,40.175000,28.342500,39.175000,32.35475,0.265556,-1.07075,75.968750,1,62.870169,Baseline,19-001,NaN
41,40.126630,28.383370,39.125543,32.35350,0.265140,-0.75950,75.833750,1,62.826763,Baseline,19-001,NaN
42,40.079891,28.420109,39.076630,32.35225,0.264852,0.59100,75.700250,1,62.782884,Baseline,19-001,NaN
43,40.034783,28.452717,39.028261,32.35100,0.264563,0.28350,75.568250,1,62.738533,Baseline,19-001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
293479,13.976244,-8.749321,64.185294,32.10950,0.603675,-0.22400,92.209375,1,66.328237,Type,19-056,NaN
293480,14.291290,-8.854751,64.277941,32.10900,0.606237,0.02700,92.236937,1,66.536121,Type,19-056,NaN
293481,14.684729,-8.987421,64.309118,32.10850,0.608734,-0.01875,92.266312,1,66.727613,Type,19-056,NaN
293482,15.156561,-9.147330,64.278824,32.10800,0.610815,0.13650,92.297500,1,66.908125,Type,19-056,NaN
293483,15.706787,-9.334480,64.187059,32.10650,0.612576,0.08500,92.330500,1,67.083087,Type,19-056,NaN

In [9]:
rolled.to_csv('../20_intermediate_files/53_rolled_combined.csv', index = False)